@import url("https://fonts.googleapis.com/css?family=Silkscreen");

:root {
    --text: rgb(234, 230, 229);
    --background: rgb(13, 11, 10);
    --primary: rgb(201, 180, 174);
    --secondary: rgb(103, 71, 62);
    --accent: rgb(174, 120, 104);    
}

body {
    background-color: var(--background);

    color: var(--text);
    font-family: 'Silkscreen';

    margin: 0;
    scroll-behavior: smooth;

    overflow: hidden;
}

.center-self {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.hint {
    margin-top: -70px;
    opacity: 0.5;
}

/* sections */

.sections {
    scroll-snap-type: y proximity;
}

.sections>.section>div {
    scroll-snap-type: y proximity;
    width: 100%;
    height: 100%;
}

.section {
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
}

/* pagiatnion */

.pagination {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 50%;
    transform: translateY(50%);
    right: 10px;
    gap: 10px;
}

.pagination-dot {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30%;
    margin: 0 5px;
    transition-duration: 350ms;

    cursor: pointer;
}

.pagination-dot:hover {
    background: rgba(255, 255, 255, 0.5);
}

.pagination-dot.active {
    background: rgba(255, 255, 255, 0.8);
}

/* account section */
.fields > .fieldss > input,
.fields > input {
    width: calc(100% - 22px); /* 22px = 2 x 10px padding + 2 x 1px border */
    height: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: var(--text);
    font-family: 'Silkscreen';
}

.fields > input:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.buttons > .button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: var(--text);
    font-family: 'Silkscreen';
    cursor: pointer;
}

.buttons > .button:hover {
    background: rgba(255, 255, 255, 0.15);
}